.writeReview_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    height: auto;
    border: 1px solid #333;
    padding: 25px;
    border-radius: 10px;
    margin-top: 30px;
}

.review_icon {
    font-size: 18px;
    color: yellow;
}

.writeReview_container>.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 34%;
}

.writeReview_container>.title>h5 {
    font-size: 18px;
}

.writeReview_container>.title> p {
    font-size: 12px;
    color: red;
    padding-left: 10px;
}

.writeReview_container > .review_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
    width: 100%;
}

.writeReview_container>.review_container > .review {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 160px;
    padding: 20px;
}

.writeReview_container>.review_container>.review p {
    font-size: 14px;
    margin: 10px 0;
}
.writeReview_container>.review_container>.review > .service_location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 33%;
    height: 100%;
    padding: 20px;
}

.writeReview_container>.review_container>.review>.value_clean {
    display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 33%;
        height: 100%;
        padding: 20px;
}

.writeReview_container>.review_container>.review>.average {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.writeReview_container>.review_container>.review>.average h5 {
    font-size: 40px;
}

.review_container > .message_button {
    width: 100%;
    height: 220px;
}

.review_container>.message_button form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.review_container>.message_button > form > .message {
    width: 100%;
    height: 70%;
}

.review_container>.message_button>form>.message > textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
.review_container>.message_button>form>.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.review_container>.message_button>form>.button > button{
    width: 40%;
    height: 100%;
    border-radius: 5px;
    background-color: #7fffd49c;
    border: none;
}