.agentInfo_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    height: 180px;
    border: 1px solid #333;
    padding: 25px;
    border-radius: 10px;
    margin-top: 100px;
}

.agentInfo_container>.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 34%;
    border-bottom: 1px solid #f1f1f1;
}

.agentInfo_container>.title>h5 {
    font-size: 18px;
}

.agentInfo_container>.infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 66%;
}

.agentInfo_container>.infos > div h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

.agentInfo_container>.infos>div p {
    font-size: 18px;
    color: #fab940;
}